:root {
    --gutter: 18;
    --col-number: 12;
    
    --sanJuan: #2A406A;
    
    --white: #FFFFFF;
    --oldLace: #FEFAF3;
    --oldLace60: 'rgba(254, 250, 243, .6)';
    --oldLace80: 'rgba(254, 250, 243, .8)';
    --ecruWhite: 'rgb(243, 239, 223)';
    --parchment: 'rgb(238, 231, 207)';
    --goldenTainoi: #FFCB51;
    --selectiveYellow: #FFB300;

    --bronzetone: #472C0E;
    --bronzetone5: 'rgba(62, 37, 0, 0.05)';
    --bronzetone10: 'rgba(62, 37, 0, 0.1)';
    --bronzetone20: 'rgba(62, 37, 0, 0.2)';
    --bronzetone60: 'rgba(62, 37, 0, 0.6)';

    --tide: #BEB8B0;
}
  
